.markdown-container {
  overflow-y: scroll;
}

.markdown-container::-webkit-scrollbar {
  width: 12px !important;
}

.markdown-container::-webkit-scrollbar-thumb,
.markdown-container::-webkit-scrollbar-thumb:hover {
  background: darkgrey !important;
  outline: 1px solid slategrey !important;
}